<p id="notice"><%= notice %></p>

<p>
  <b>Period:</b>
  <%= @schedule.period %>
</p>

<p>
  <b>User:</b>
  <%= @schedule.user_id %>
</p>


<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
