<h1>Listing bands</h1>

<table>
  <tr>
    <th>Class name</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Band</th>
    <th>Schedule</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bands.each do |band| %>
  <tr>
    <td><%= band.class_name %></td>
    <td><%= band.start_time %></td>
    <td><%= band.end_time %></td>
    <td><%= band.band %></td>
    <td><%= band.schedule_id %></td>
    <td><%= link_to 'Show', band %></td>
    <td><%= link_to 'Edit', edit_band_path(band) %></td>
    <td><%= link_to 'Destroy', band, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Band', new_band_path %>
